.vh-100 {
  height: 100vh;
}

.other-bg {
  background-color: #6A1B9A;
}

.main-bg {
  background-image: url('/assets/images/banner.svg');
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo {
  width: 4rem;
}

.custom-hr{
  border: 1px dashed #6a1b9a42 !important;
  width: 75%;
  opacity: 1 !important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-link {
  font-size: 0.875rem !important;
}

.nav-active {
  font-weight: 500;
  color: var(--bs-navbar-active-color);
}

.navbar-toggler {
  border: 0px !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}

.right-1 {
  right: 1rem !important;
}

.top-m2 {
  top: -2rem;
}

.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /* Slightly transparent background */
  z-index: 1050;
  /* Ensure it's above other content */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-page .navbar-nav {
  text-align: center;
}

.full-page .nav-item {
  margin: 15px 0;
}

.full-page .btn-close {
  font-size: 1.5rem;
  color: black;
}

.stat-title {
  color: #9C27B0;
}

.stat-img {
  width: 1rem;
}

.stat-border {
  width: 1px;
}

.fw-stat {
  font-weight: 600 !important;
}

.bg-img-about {
  background-image: url('/assets/images/rectanlge.svg');
}

.p-about-1 {
  padding-right: 16rem !important;
  padding-left: 5rem !important;
}

.p-about-2 {
  padding-right: 5rem !important;
  padding-left: 16rem !important;
}

.p-about-img-1 {
  padding-right: 5rem !important;
  padding-left: 10rem !important;
}

.p-about-img-2 {
  padding-right: 10rem !important;
  padding-left: 5rem !important;
}

.about-button {
  --bs-btn-bg: #9C27B0 !important;
  --bs-btn-border-color: #9C27B0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9225a5;
  --bs-btn-hover-border-color: #9225a5;
}

.about-indicator {
  width: 3rem;
}

.button-watch-video {
  background-color: transparent;
}

.button-get-started {
  border-radius: 2rem;
  border: 0px;
  background-color: #8BC34A;
}

.watch-video-btn-container{
  border-radius: 2rem;
  background-color: #9C27B0;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.watch-video-btn{
  width: 1rem;
  padding-left: 0.2rem;
}

button.page-link{
  border-radius: 3rem;
}


.navbar-main-link{
  margin-left: 6rem !important;
}